:root {
    --contact-text-color: #757575;
    --header-hover-color: #2196F3;
    --first-background-color: #2F303A;
    --second-background-color: #F5F4FA;
    --third-background-color: #ffffff;
    --logo-text-color: #000000;
    --hero-btn-hover-background-color: #188CE8;
    --title-color:#212121;
    --text-color: #757575;
    --footer-address-color: rgba(255, 255, 255, 0.6);
    }