.header {
    background-color: var(--third-background-color);
    border-bottom: 1px solid #ececec;
}

.header-container {
    display: flex;
}

.header-nav .current {
    color: var(--header-hover-color);
    position: relative;
}

.header-nav{
    display: flex;
    align-items: center;
}

.header-nav-list {
    display: flex;
    align-items: center;
}

.header-item:not(:last-child) {
    margin-right: 50px;
}

.header-contact-list {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.header-contact-item{
    display: block;

    &:not(:first-child) {
        margin-left: 50px;
    }
}

.activ-studio,
.activ-portfolio {
    color: var(--header-hover-color);
}

.header-link {
    display: block;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--title-color);
padding: 32px 0;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--header-hover-color);
    }
}

.current::after {
    content: "";
    position: absolute;
    display: block;
    bottom: -1px;
    left: 0;
    height: 4px;
    width: 100%;
    background: var(--header-hover-color);
    border-radius: 2px;
}

.header-tel {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--contact-text-color);
    display: flex;
    align-items: center;
    padding: 32px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--header-hover-color);
    }
}

.header-mail {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--contact-text-color);
    display: flex;
    align-items: center;
    padding: 32px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--header-hover-color);
    }
}

.header-contact-icon {
    fill: currentColor;
    margin-right: 10px;
}

